.nav-container {
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  color: #FFF;
  position: fixed;
}
nav span{
  padding-top: 25px;
  font-family: "Bungee", "Sans-Serif";
  font-size: 40px;
}
nav .emoji-arrow {
  margin-top: 5px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.write-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1px;
  font-family: "Source Sans Pro", "Sans-Serif";
  padding-top: 10px;
}
#emoji{
  color: red;
}

/* Mobile Styling */

@media screen and (max-width: 1023px) {
  .nav-container {
    background-color: transparent;
  }

 }