.new-tweet {
  margin-bottom: 30px;
}

form textarea {
  text-align: left;
  background-color: transparent;
  color: #545149;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 600;
  width: 90%;
  border-bottom-width: 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  line-height: 1em;
}

form div {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

form div button {
  display: flex;
  justify-content: left;
  margin-left: 5%;
  background-color: #4056A1;
  color: #fff;
  font-family: "Bungee", "Sans-Serif";
  border-color: #4056A1;
}

.counter {
  display: flex;
  justify-content: right;
  font-family: "Bungee", "Sans-Serif";
  color: #545149;
  margin-right: 5%;
}
.red-text {
  color: red;
}